* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px double red;
    /*border-top: 5px solid green;
    border-right: 10px dotted yellow; */
    padding: 1.5em;
    font-size: 1.5rem;
    margin: 1.5em;
    /* margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    outline: 5px solid purple;
    outline-offset: -20px;
}

.circle {
    margin: 3rem auto;
    background-color: gold;
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    outline: 2px solid red;
    outline-offset: 0.2rem;
    border-radius: 50px;
}